*{
    padding:0;
    margin:0;
}
body{
    background-color: #201E1F;
}
#heading{
    font-size:xx-large;
    text-decoration: underline;
    color:#FF4000;
    font-family: Verdana;
    margin-left:40%;
}
#container{
    background-color: #FEEFDD;
    width: 500px;
    height: 500px;
    margin-left:31%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
#options{
    margin-left:43%;
    margin-top: 20px;
}
#reset{
    width: 70px;
    height: 30px;
    margin-right: 20px;
    background-color: #50B2C0;
}
#set_grid{
    width: 80px;
    height: 30px;
    background-color: #50B2C0;
}